.container-carrinho-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-items {
    width: 38%;
    max-height: 58vh;
    overflow-y: scroll;
}

.titulo_cesta_cheia {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.descricao_cesta_cheia p {
    color: #000;
    font-family: Inter;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.titulo_cesta_cheia p {
    color: #000;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.item {
    width: 100%;
    display: flex;
    align-items: start;
    gap: 1rem;
}

.nomeItem {
    margin: 0;
    width: 45%;
    color: #000;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.pricing {
    margin: 0;
    color: #000;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container_pricing {
    width: 29%;
    display: flex;
    align-items: center;
}

.actionsButton {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.actionsButton span {
    width: 1.625rem;
    height: 1.5625rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #D9D9D9;
    border-radius: 0.3125rem;

    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.actionsButton span:nth-child(1),
.actionsButton span:nth-child(3) {
    font-size: 1.5rem;
    cursor: pointer;
}

/* -- Subtotal --*/

.container-subtotal {
    width: 28rem;
    height: 20.5625rem;
    border-radius: 1.875rem;
    background: #E7E7E7;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #000;
    font-family: Inter;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container-subtotal p:nth-child(3) {
    width: 23.75rem;
    height: 2.5625rem;
    border-radius: 1.875rem;
    background: #BDCF9F;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container-subtotal p:nth-child(4) {
    cursor: pointer;
}

.total_itens {
    display: flex;
    justify-content: space-evenly;
}