footer {
    background-color: #E7E7E7;
    height: 16.75rem;
    display: flex;
    padding: 3rem;
    /* TEXT */

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

.informacoes_loja {
    width: 79%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: start;
}

.forma_pagamento {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.precisa_ajuda {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.precisa_ajuda p:nth-child(1) {
    color: #618E6E;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.precisa_ajuda p:nth-child(2) {
    color: #000;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.precisa_ajuda p:nth-child(3) {
    color: #000;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin: 0;
}

.popUp_atendente {
    width: 21%;
    display: flex;
    gap: 6rem;
}

.container_imagem_atendente {
    text-align: end;
}

.descricao_atendente {
    padding: .2rem;
    width: 7.5rem;
    height: 4.3125rem;
    border-radius: 0.75rem;
    background: #BDCF9F;
    display: flex;
    align-items: center;
    justify-content: center;
}