form{
    width: 99vw;
    display: flex;
    justify-content: center;
}

.login-container {
    width: 693px;
    height: 712px;
    border-radius: 70px 30px 70px 30px;
    background-color: #D1D5AA;
    border: 1px solid #686868;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: "Inter";
}

app-login.component { 
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    flex-direction: column;

}

#login-titulo {
    font-weight: 300;
    font-size: 32px;
}

.divisor {
    height: 1px;
    background-color: #333;
    width: 90%;
}

/* Formulário de Login (Grid) */
.form-login {
    height: 175px;
    width: 85%;
    display: grid;
    /* 1 coluna para texto (label) e 1 coluna para input/botão */
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 15px;
    align-items: center;
}

/* Textos (Labels) */
.form-login p {
    font-weight: 300;
    font-size: 15px;
    text-align: right;
    padding-right: 20px;
}

/* Inputs */
.form-login input {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    background-color: #E6E8D6;
    border: none;
    padding-left: 15px;
}

/* Posicionamento via Grid Area */
#email-texto {
    grid-area: 1 / 1 / 2 / 2;
}

#email-input {
    grid-area: 1 / 2 / 2 / 3;
}

#senha-texto {
    grid-area: 2 / 1 / 3 / 2;
}

#senha-input {
    grid-area: 2 / 2 / 3 / 3;
}

/* Container de botões (Esqueceu senha e Acessar) */
.botoes-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    grid-area: 3 / 2 / 4 / 3;
}

#esqueceu-senha {
    font-weight: 300;
    font-size: 12px;
    color: black;
}

#acessar {
    width: 104px;
    height: 33px;
    border-radius: 50px;
    background-color: #618E6E;
    border: none;
    cursor: pointer;
    /* Para centralizar o link/texto dentro do botão */
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 0; /* Remover padding padrão do botão */
}

#acessar a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    /* O link deve ocupar 100% do botão */
    display: block; 
    padding: 0;
}

/* Container de Opções "Ou se preferir" */
.preferir-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.ou-preferir{
    margin-bottom: 20px;
}

/* Botões de Acesso Rápido */
.botao-google, .botao-email {
    width: 439px;
    height: 45px;
    background-color: #E6E8D6;
    border-radius: 20px;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    margin-bottom: 12px; /* Adicionado um margin para separá-los */
}

.botao-google span, .botao-email span{
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Ajusta o parágrafo dentro do span para remover margens estranhas */
.botao-google span p, .botao-email span p{
    margin: 0;
    text-align: left;
    padding: 0;
}

#cadastre-se {
    margin-top: 12px;
}

#cadastre-se a {
    text-decoration: none;
    color: #111;
    font-weight: 700;
}