header {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}

header p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}