<app-header [mostrarNavegacao]="true"></app-header>
<div class="blog-section">
    <p class="blog-title">
        BLOG
    </p>

    <div class="blog-content">
        <div class="blog-item">
            <img [src]="imagemSakura" alt="Flor de cerejeira (sakura)">
            <p class="blog-description">
                Hanami (花見) significa, em japonês, “contemplar
                as flores”. Essa é uma tradição japonesa que
                celebra a beleza das flores, especialmente das cerejeiras durante a primavera. Inspirados por
                esse costume, decidimos trazer um pouco dessa
                cultura das flores orientais para o ocidente,
                proporcionando experiências que unem beleza,
                tradição e significado.
            </p>
        </div>
    </div>
</div>